/* particleground styles */

*{
  margin: 0;
  padding: 0;
  border: 0; 
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;  
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.css-button-sharp--grey {
  position: relative;
  display: inline-block;
}

body {
  background: #24272c;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#intro {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 0 10px;
  width: 100%;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 120;
  color: #ffffff;
  letter-spacing: 0.05em;
}

h1::after {
  content: '';
  width: 80px;
  display: block;
  background: #fff;
  height: 10px;
  margin: 30px auto;
  line-height: 1.1;
}

p {
  margin: 0 0 30px 0;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 100px) {
  h1 {
    font-size: 15px;
  }
  h1::after {
    height: 8px;
  }
}

@media only screen and (max-width: 100px) {
  #intro {
    padding: 0 10px;
  }
  h1 {
    font-size: 15px;
  }
  h1::after {
    height: 6px;
  }
  p {
    font-size: 18px;
  }
  .btn {
    font-size: 16px;
  }
}

@media only screen and (max-width: 100px) {
  h1 {
    font-size: 15px;
  }
  h1::after {
    height: 4px;
  }
}

/* my styles */

button.servicio {
  text-align: center;
  padding: 10px 100px 10px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  background: none;
  cursor: pointer;
  width: 600px;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: 2em;
  font-weight: 900;
  border: 2px solid #495057;
  background: none;
  color: #fff; 
  transition: all 0.7s ease;

}

button.servicio:hover {
  background: #fff;
  color: #495057;
}

h2.titulo {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-weight: 100;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

img.logo {
  width: 450px;
  height: auto;
  margin-bottom: 20px;
}

h3.detalle {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: 30px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border: 1px dashed rgba(255,0,0,0.3);
}

#carouselExampleIndicators {
  width: 600px;
  margin: 50px auto 50px auto;
}

img.d-block.w-100 {
  opacity: 0.65;
  height: 350px;
}

#containericonos {
  color: white;
}

#iconos {
  font-size: 2em;
}

@media (max-width: 650px) {
  button.servicio {
    font-size: 15px;
    width: 300px;
    padding: 10px 10px 10px 10px;
  }
  
  h2.titulo {
    font-size: 25px;
    margin-bottom: 20px;
  }

  #carouselExampleIndicators {
    width: 75%;
  }
  img.logo {
    width: 300px;
  }

  img.d-block.w-100 {
    height: 200px;
  }

  #iconos {
    font-size: 1.5em;
  }

  h3.detalle {
    font-size: 30px;
    width: 75%;
    font-size: 1.5em;
  }
}

@media (max-width: 350px) {
  button.servicio {
    font-size: 15px;
    width: 150px;
    padding: 0px;
  }
  
  h2.titulo {
    font-size: 20px;
    margin-bottom: 20px;
  }
  img.logo {
    width: 200px;
    height: auto;
  }

  #carouselExampleIndicators {
    width: 100%;
  }

  img.d-block.w-100 {
    height: 150px;
  }

  #iconos {
    font-size: 1em;
  }

  h3.detalle {
    font-size: 30px;
    width: 100%;
    font-size: 1em;
  }
}

@media (max-height: 800px) {
  #intro {
    position: absolute;
    left: 0;
    top: 0%;
    margin-top: 40px;
    padding: 0 10px;
    width: 100%;
    text-align: center;
  }
  
}